<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <footer class="bg-dark text-light">
        <div class="container pt-5">
            <div class="row justify-content-center">
              <div class="col-4">
                <a class="text-decoration-none text-light" href=""><h2>News</h2></a>
              </div>
              <div class="col-4">
                  <h4>contact us</h4>
                  <p>support@company.com</p>
                  <hr class="fw-5">
                  <p>+02 7678965400</p>
                  <p>+02 8976500987</p>
              </div>
              <div class="col-4">
                <h2>About us</h2>
                <a class="text-decoration-none text-light" href=""><p>Current series</p></a>
                <a class="text-decoration-none text-light" href=""><p>the house</p></a>
                <a class="text-decoration-none text-light" href=""><p>looking back</p></a>
              </div>  
            </div>
        </div>
    </footer>
</body>
</html>